<!DOCTYPE html>
<html>

<head>
  <title>OOPS</title>
</head>

<body>
  <div style="width: 500px; margin: 0 auto; text-align:center">

    <header>
      <h1>MyApp</h1>
      <br>
      <hr>
    </header>

    <main>
      <h2>OOPS</h2>

      <p>Something went wrong!</p>
      <br>
      <hr>

    </main>
  </div>

</body>

</html>