<html>

<head>
  <title>Login Page</title>
</head>

<body>

  <div style="width: 500px; margin: 0 auto; text-align:center">

    <header>
      <h1>MyApp</h1>
      <br>
      <hr>
    </header>

    <main>
      <h2>LOGIN</h2>

      <form action="/identify" method="POST">
        <div>
          <!-- <label for="encrypt">Username</label> -->
          <input type="text" id="name" name="name" required placeholder="Name">
        </div>
        <br>
        <div>
          <!-- <label for="password">Password</label> -->
          <input type="text" id="password" name="password" required placeholder="Password">
        </div>
        <br>

        <button type="submit"> Login </button>
      </form>


      <br>
      <hr>

      <div>
        <p>Don't have an account? <a href="/register">Create Account</a></p>
      </div>


    </main>
  </div>

</body>

</html>