<html>

<head>
  <title>Register Page</title>
</head>

<body>

  <div style="width: 500px; margin: 0 auto; text-align:center">
    <header>
      <h1>MyApp</h1>
      <br>
      <hr>
    </header>

    <main>
      <h2>CREATE ACCOUNT</h2>

      <form action="/register" method="POST">
        <div>
          <input type="text" id="name" name="name" required placeholder="Name">
        </div>
        <br>

        <div>
          <input type="text" id="password" name="password" required placeholder="Password">
        </div>
        <br>
        <div>
          <select type="text" id="role" name="role" required style="width: 168px;">
            <option value="" disabled selected> Choose a Role </option>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
          </select>
        </div>
        <br>

        <button type="submit"> Create Account </button>
      </form>


      <br>
      <hr>
      <div>
        <p>Already have an account? <a href="/identify">Log In</a></p>
      </div>


    </main>

  </div>

</body>

</html>