<html>

<head>
  <title>Start Page</title>
</head>

<body>


  <div style="width: 500px; margin: 0 auto; text-align:center">

    <header>
      <h1>MyApp</h1>
      <br>
      <hr>
    </header>

    <main>
      <h3>Hey There!</h3>
      <p>
        Nice to see you!
      </p>
      <p>This is start page!</p>

      <hr>
      <div>
        <form action="/logout" method="POST">
          <p>
            <button type="submit">Log Out</button>
          </p>
        </form>
      </div>
    </main>
  </div>

</body>

</html>