<div style="width: 500px; margin: 0 auto; text-align:center">

  <header>
    <h1>MyApp</h1>
    <br>
    <hr>
  </header>

  <main>
    <h3>Hey There!</h3>
    <p>
      Nice to see you!
    </p>

    <hr>
    <div>
      <form action="/logout" method="POST">
        <p><a type="submit" href="/logout">Log Out</a></p>
      </form>
    </div>
  </main>
</div>