<div style="width: 500px; margin: 0 auto; text-align:center">

  <header>
    <h1>MyApp</h1>
    <br>
    <hr>
  </header>

  <main>
    <h3>Hey There!</h3>
    <p>
      Nice to see you!
    </p>


    <hr>
    <div>
      <p><a href="/identify">Log Out</a></p>
    </div>
  </main>
</div>