<!DOCTYPE html>
<html>

<head>
	<title>Student2 Page</title>
</head>

<body>
	<div style="width: 500px; margin: 0 auto; text-align:center">

		<header>
			<h1>MyApp</h1>
			<br>
			<hr>
		</header>

		<main>
			<h3>Student2 Home Page</h3>

			<p>Welcome, Student2!</p>


			<hr>
			<div>
				<form action="/logout" method="POST">
					<p>
						<button type="submit">Log Out</button>
					</p>
				</form>
			</div>
		</main>
	</div>

</body>

</html>